<div id="<%= dom_id talk %>">
  <p>
    <strong>Topic:</strong>
    <%= talk.topic %>
  </p>

  <p>
    <strong>Tribe:</strong>
    <%= talk.tribe %>
  </p>

  <p>
    <strong>Importance:</strong>
    <%= talk.importance %>
  </p>

</div>
